name = "ohmyphoto"
main = "src/worker.js"
compatibility_date = "2025-12-20"

[assets]
binding = "ASSETS"
directory = "./public"
not_found_handling = "single-page-application"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "ohmyphoto"